section {
  background-color: #260100;
  display: flex;
  flex-direction: column;
  color: #647488;
}

.head {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px 20%;
  padding-top: 150px;
  padding-bottom: 50px;
}

.head p:nth-child(1) {
  color: #E00000;
  font-weight: 800;
}

.head p:nth-child(2) {
  font-size: 32px;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 0px;
  margin: 0px 20%;
}

.certif {
  background-color: #FEF2F2;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-width: 5px;
  border-color: white;
  /* border-top-right-radius: 32px; */
  border-top-left-radius: 64px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, border-color;
  transition-duration: 500ms;
}

.certif:hover {
  border-color: #E00000;
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;  
}

.certif:hover h1 {
  /* color: #E00000; */
}

.certif div {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 20px;
  scroll-padding: 20px;
  scroll-margin: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
}

h1 {
  font-size: 32px;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  transition-property: color;
  transition-duration: 1000ms;
}

.certif img {
  scroll-snap-align: center;
  width: 35%; 
  height: auto;
  border-radius: 8px;
  border-width: 5px;
  border-color: black;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* rasio 1.3 */
@media (max-width: 1024px) {
  section {
    font-size: 12.3px;
  }

  .head {
    padding-top: 115px;
    padding-bottom: 38px;
  }
  
  .head p:nth-child(2) {
    font-size: 24.6px;
    margin-bottom: 7.6px;
  }
  
  .main {
    gap: 77px;
    padding: 77px 0px;
  }

  .certif div {
    gap: 15.3px;
    scroll-padding: 15.3px;
    scroll-margin: 15.3px;
  }

  h1 {
    font-size: 24.5px;
    margin-bottom: 7.6px;
    /* margin-left: 7.6px; */
    /* padding: 7.6px; */
  }
}

/* rasio 1.3 */
@media (max-width: 768px) {
  section {
    font-size: 9.4px;
  }

  .head {
    padding-top: 88px;
    padding-bottom: 29.5px;
  }

  .head p:nth-child(2) {
    font-size: 18.9px;
    margin-bottom: 5.9px;
  }

  .main {
    gap: 59px;
    padding: 59px 0px;
  }

  .certif div {
    gap: 11.8px;
    scroll-padding: 11.8px;
    scroll-margin: 11.8px;  
  }

  h1 {
    font-size: 19px;
    margin-bottom: 5.9px;
    /* margin-left: 5.9px; */
    /* padding: 5.9px; */
  }
}