---
import Home from '../../components/Home.astro';
import About from '../../components/About.astro';
import Skills from '../../components/Skills.astro';
import Portfolios from '../../components/Portfolios.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import background from '../../assets/background.svg';

import DirectoryListingApp from '../../assets/directoryListingApp.webp';
import SelfService from '../../assets/self_service.webp';
import Portfolio from '../../assets/portfolio.webp';
import Server from '../../assets/server.webp';

const showSkills = true;

const portfolios = [
  {
    url: "https://github.com/CatC0de1/SurabayaBestPoint/tree/main",
    imgSrc: DirectoryListingApp.src,
    title: "Directory Listing App",
    technologies: [
      "ejs", 
      "bootstrap", 
      "express", 
      "mongodb", 
      "passport"
    ]
  },
  {
    url: "https://github.com/CatC0de1/kafe-oop",
    imgSrc: SelfService.src,
    title: "Prototype Self Service App",
    technologies: [
      "ejs", 
      "sass", 
      "express", 
      "mongodb", 
      "webpack"
    ]
  },
  {
    url: "https://github.com/CatC0de1/iyan-zuli-armanda",
    imgSrc: Portfolio.src,
    title: "Personal Website",
    technologies: [
      "astro", 
      "react", 
      "tailwind", 
      "ts"
    ]
  },
  {
    url: "https://github.com/CatC0de1/base-server",
    imgSrc: Server.src,
    title: "Server with OOP",
    technologies: [
      "js", 
      "express", 
      "mongodb"
    ]
  }
];
---

<Layout 
  title="Fullstack Developer - Iyan Zuli Armanda"
  description="Personal website showcasing fullstack development, frontend development, backend developmnet projects on many platforms."
  keywords="
  Fullstack Developer, Frontend Developer, Backend Developer,
  Web Developer, Software Engineer, Mobile Developer, Dekstop Developer, Android Developer, Cross Platform Developer,
  React, Express, Next, Nest, Tailwind, MongoDB, PostgreSQL, Typescript, Javascript"
>
  <div>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
			<Home 
				showSkills={showSkills}
				texts={["Frontend Developer", "Backend Developer", "Fullstack Developer"]} 
			/>
		<About 
			title="I'm a Software Engineer"
			text1="As a flexible fullstack developer, I excel in frontend, backend, and fullstack roles to create innovative, high-performance web solutions. With continuous learning and problem-solving, I strive to build impactful digital experiences."
			text2="I'm also passionate about Game Programming, AI Engineering, and Cybersecurity."
			images={[
				{ src: "/images/sertif1.webp", alt: "Certificate 1" },
				{ src: "/images/directoryListingApp.webp", alt: "Certificate 2" }
			]}
		/>
		<Skills/>
		<Portfolios portfolios={portfolios} />
		<Contact/>
		<Footer showSkills={showSkills} />
	</div>
</Layout>


<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
</style>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Fullstack Development",
    "description": "I'm a fullstack developer with modern technologies.",
    "url": "https://iyan-zuli-armanda.netlify.app/fullstack/"
  }
</script>