@import "tailwindcss";

:root {
  --primary-color: #0070f3;
  --secondary-color: #1e3a8a;
  --background-color: #1c1c1c;
  --text-color: #333;
  --border-color: #c0c0c0;
  --hover-color: #33a7ff;
  --bg-color: rgba(28, 28, 28, 0.7); 
}

@layer utilities {
  .section {
    @apply flex px-[10%] md:px-[15%] py-[10%] 
    w-full;
  }
  
  .head-section {
    @apply text-center mb-[3%];
  }

  .main-title {
    @apply text-3xl xl:text-4xl font-bold my-1;
  }

  .second-title {
    @apply text-(--primary-color) font-bold;
  }

  .skills {
    @apply flex flex-col gap-1 items-center;
  }

  .skills-title {
    @apply font-semibold; 
  }

  .skills-info {
    @apply flex flex-col gap-2;
  }

  .skill {
    @apply text-xs flex flex-row gap-[3%] items-center;
  }

  .progress {
    @apply flex flex-col w-[200px] md:w-[250px] gap-1;
  }

  .progress-legend {
    @apply flex flex-row justify-between;
  }

  .progress-bar {
    @apply bg-(--text-color) h-2 w-full rounded-md overflow-hidden;
  }
  
  .progress-fill {
    @apply bg-(--primary-color) h-full transition-all duration-2000;
  }

  .navigation {
    @apply text-(--border-color) hover:text-(--hover-color) transition ml-1
    active:text-(--secondary-color);
  }

  .sosmed {
    @apply flex items-center justify-center border-2 border-(--border-color) rounded-full
    h-[35px] w-[35px] md:h-[50px] md:w-[50px]
    hover:border-(--primary-color) hover:bg-(--primary-color) transition
    active:bg-(--secondary-color) active:border-(--secondary-color) active:shadow-md;
  }

  .button {
    @apply text-white text-center bg-(--primary-color) rounded-lg 
    py-2 px-4 w-full
    text-base md:text-lg lg:text-xl xl:text-2xl
    hover:bg-(--hover-color) hover:shadow-lg transition 
    active:bg-(--secondary-color) active:shadow-md
  }

  .skill .logo svg {
    width: 25px;
    height: auto;
  }
}