---
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Portfolios from '../components/Portfolios.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />
	<div>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<Home/>
		<About/>
		<Skills/>
		<Portfolios/>
		<Contact/>
		<Footer />
	</div>
</Layout>


<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
</style>