---
import Layout from '../layouts/Layout.astro';
import logo from "../assets/logo.webp";
import cinematic from "../assets/cinematic3.mp4";

export const prerender = true;
export const sitemap = false;

const currentYear = new Date().getFullYear();
---

<Layout>
  <div class="fixed h-screen w-screen bg-black overflow-hidden">

    <svg class="absolute w-full h-full">
      <defs>
        <mask id="mask">
          <rect width="100%" height="100%" fill="black" />

          <image href={logo.src} x="50%" y="30%" class="logo" width="150" height="150" transform="translate(-75,-75)" />

          <text x="50%" y="50%" text-anchor="middle" dy=".35em"
            font-size="10vw" font-weight="bold" fill="white">
            Iyan Zuli Armanda
          </text>
        </mask>
      </defs>
    </svg>

    <div class="absolute inset-0 w-full h-full" style="mask: url(#mask); -webkit-mask: url(#mask);">
      <video autoplay loop muted playsinline class="w-full h-full object-cover">
        <source src={cinematic} type="video/mp4" />
      </video>
    </div>

  </div>

  <div>
    <div class="
			fixed bottom-[20%] left-1/2 transform -translate-x-1/2 w-[50%] 
			flex flex-col items-center justify-center gap-5 
			md:w-[30%] md:gap-10
			lg:flex-row lg:w-[20%]
		">
      <a href="/fullstack" class="button px-8">Get Started</a>
    </div>

    <p class="fixed bottom-5 left-[10%] text-white text-sm z-10">
      &copy; Zi {currentYear}
    </p>
  </div>
</Layout>