---
import Carousel from './react/Carousel';
const { title, text1, text2, images } = Astro.props;
---

<section 
  id="about" 
  class="section
    flex-col-reverse gap-7
    lg:flex-row lg:justify-around lg:items-center
">
  <div class="basis-[40%]">
    <Carousel images={images} client:visible />
  </div>
  <div class="basis-[50%]">
    <h1 class="second-title">
      About Me
    </h1>
    <h2 class="main-title">
      {title}
    </h2>
    <div>
      <p class="text-justify">
        {text1}
      </p>
      <p class="mt-2 text-justify">
        {text2}
      </p>
    </div>
  </div>
</section>