---

---

<section id="about" class="flex-row justify-between section">
  <div class="basis-[40%]">
    ini gambar
  </div>
  <div class="basis-[50%]">
    <h1 class="second-title">
      About Me
    </h1>
    <h2 class="main-title">
      I'm an Informatic Engineering
    </h2>
    <p class="text-justify">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, dolore. Possimus quibusdam, quis iste ad optio dignissimos ipsa, asperiores dolorum architecto repellat assumenda accusantium qui laboriosam ullam aspernatur quo explicabo.
    </p>
  </div>
</section>