<section id="contact" class="flex-col justify-between section">
  <div class="head-section">
    <h1 class="second-title">
      Contact
    </h1>
    <h2 class="main-title">
      Contact Us
    </h2>
  </div>
  <form class="flex flex-col items-center">
    <div class="w-[80%]">
      <div class="form">
        <label for="name" class="label">Name</label>
        <input type="text" id="name" class="input" />
      </div>
      <div class="form">
        <label for="email" class="label">Email</label>
        <input type="email" id="email" class="input" />
      </div>
      <div class="form">
        <label for="message" class="label">Message</label>
        <textarea id="message" class="h-32 input"></textarea>
      </div>
    </div>
    <div class="w-[80%]">
      <button class="w-full rounded-full bg-(--primary-color) py-3 px-8 font-semibold text-white transition duration-500 hover:bg-(--hover-color) hover:shadow-lg">Send</button>
    </div>
  </form>
</section>