---
import Email from './react/Contact';
---

<section id="contact" class="flex-col justify-between section">
  <div class="head-section">
    <h1 class="second-title">
      Contact
    </h1>
    <h2 class="main-title">
      Get in Touch
    </h2>
  </div>

  <Email client:visible/>

</section>