---

---

<nav class="flex justify-around items-center py-5 fixed w-full z-10 bg-(--bg-color) bg-opacity-70 backdrop-blur-xs text-white ">
  <a href="/" class="text-(--primary-color) font-black text-xl">
    Iyan Zuli A
  </a>
  <div class="flex gap-20">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
  </div>
</nav>