---
import Hamburger from './react/Hamburger';
---

<nav class="flex justify-around items-center fixed w-full z-10 bg-(--bg-color) backdrop-blur-xs text-white
py-3 md:py-5 transition-all duration-500"
id="navbar"
>
  <a href="/" class="text-(--primary-color) font-black 
  text-xl md:text-2xl lg:text-3xl
  ">
    Iyan Zuli A
  </a>
  <div class="hidden lg:flex gap-20">
    <a href="#home" class="navbar">Home</a>
    <a href="#about" class="navbar">About</a>
    <a href="#skills" class="navbar">Skills</a>
    <a href="#portfolio" class="navbar">Portfolio</a>
    <a href="#contact" class="navbar">Contact</a>
  </div>
  <Hamburger client:load/>
</nav>

<script lang="ts">
  window.addEventListener("scroll", function () {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > 10) {
      navbar.classList.add("shadow-lg");
    } else {
      navbar.classList.remove("shadow-lg");
    }
  });
</script>