---
import Portfolio from '../assets/portfolio.png';

interface Portfolio {
  url: string;
  imgSrc: string;
  title: string;
  technologies: string[];
}

const portfolios = Astro.props.portfolios as Portfolio[];
---

<section 
  id="portfolio" 
  class="
    flex-col justify-between section gap-20 md:gap-4 
    bg-(--background-color) text-white border-y-8 border-(--border-color)
">
  <div class="head-section">
    <h1 class="second-title">
      Portfolio
    </h1>
    <h2 class="main-title">
      My Portfolio
    </h2>
  </div>
  <div class="
    grid grid-cols-1 md:grid-cols-2 
    place-content-center place-items-center gap-[5%] mt-[2%]
  ">
    {portfolios.map((portfolio) => (
      <a href={portfolio.url} class="flex flex-col" target="_blank">
        <div class="border-2 border-(--border-color) w-[100%] h-auto flex items-center justify-center overflow-hidden rounded-lg">
          <img src={portfolio.imgSrc} loading="lazy" />
        </div>
        <div class="
          w-[80%] lg:w-[65%] 
          bg-(--border-color) text-black self-center p-1 mt-[-35px] rounded-lg
          flex flex-col items-center
        ">
          <h1 class="">
            {portfolio.title}
          </h1>
          <div class="flex flex-row justify-center gap-2">
            {portfolio.technologies.map((tech) => (
              <img 
                src={`/svg/tecs/${tech}.svg`} 
                class="h-auto w-6 lg:w-8"
                loading="lazy" 
              />
            ))}
          </div>
        </div>
      </a>
    ))}
  </div>
  <div class="self-center mt-3 md:mt-9">
    See more on my github,
    <a href="https://github.com/CatC0de1" class="text-slate-400 hover:text-(--hover-color) active:text-(--secondary-color) transition duration-200" target="_blank">
      click here
    </a>
  </div>
</section>