---
import PortfolioCarousel from './react/PortfolioCarousel.tsx';

const portfolios = Astro.props.portfolios;
---

<section 
  id="projects" 
  class="
    w-full flex px-[1%] py-[10%]
    flex-col justify-between gap-2 md:gap-5
    bg-(--background-color) text-white border-y-8 border-(--border-color)
">
  <div class="head-section">
    <h1 class="second-title">
      Projects
    </h1>
    <h2 class="main-title">
      My Projects
    </h2>
  </div>

  <PortfolioCarousel portfolios={portfolios} client:visible />  

  <div class="self-center text-center mt-5">
    See more my projects on
    <a href="https://github.com/CatC0de1" class="text-slate-400 hover:text-(--hover-color) hover:underline active:text-(--secondary-color) transition" target="_blank">
      https://github.com/CatC0de1
    </a>
  </div>
</section>